* { margin:0; padding:0; }

body { font-family:tahoma, arial, Verdana; font-size:12px; }

.container { width:960px; height:auto; overflow:hidden; margin:0 auto; }

.sessao a.viewer { width:130px; font-size:14px; color:#666666; font-style:italic; display:block; margin-top:20px; }

.direita { text-align:right; }

/* TOPO */
#topo #barra-superior { width:100%; height:10px; background-color:#F0F0F0; }

#topo { width:100%; height:100px; background:#CFD3DC no-repeat top center;  }

#topo h1 a { width:150px; height:60px; color:#fff; display:block; float:left; margin-top:15px; text-align:center; 
width: 180px;
height: 61px;
background-size:100%;
}

#topo #opcoes-usuario { width:166px; height:25px; background-color:#F0F0F0; float:right; border-radius:0 0 7px 7px; }

#topo #opcoes-usuario ul { list-style:none; margin:3px 0 0 23px; }

#topo #opcoes-usuario ul li { float:left; }

#topo #opcoes-usuario ul li:first-child + li { margin-left:10px; padding-left:10px; border-left:1px dotted #999;  }

#topo #opcoes-usuario ul li a { color:#537FC5; text-decoration:none; }

#topo #opcoes-usuario ul li a:hover { text-decoration:underline; }

#topo #busca { width:350px; height:40px; background-color:#fff; border:2px solid #A9BEE2; border-radius:10px; position:relative; margin-top:15px; float:right; clear:right; }

#topo #busca #cbusca { width:300px; height:35px; position:relative; top:-10px; left:4px; margin-right:4px; border:none; font-size:16px; color:#ccc; font-style:italic; }

#topo #busca #btbusca { position:relative; top:2px;  }


#bgcinza { width:100%; height:98px; position:absolute; background:url(../images/bgcinza-top.jpg) repeat-x top left; z-index:-1; }

/* CONTEÚDO */

#principal .sessao { height:auto; overflow:hidden; }

#principal .sessao:first-child { margin-bottom:30px; }

#principal .sessao h2 { width:650px; font-size:20px; color:#000; font-weight:normal; margin-top:15px; float:left;}

#principal .sessao h3 { width:650px; font-size:12px; color:#547FC6; font-weight:normal; font-style:italic;  float:left;  clear:left;}

#principal .sessao #bt-criartopico { width:124px; height:31px; display:block; background:url(../images/btlink.png) no-repeat top left; color:#fff; text-decoration:none; text-align:center; float:right; margin-top:12px; padding-top:8px; font-size:16px; }

/* LISTA TÓPICOS */

#principal #lista-topicos { height:auto; overflow:hidden; }

#principal #lista-topicos .topico { height:auto; overflow:hidden; border:2px solid #E0E0E0; padding:10px 0 10px 10px; border-radius:15px; margin-bottom:5px; }

#principal #lista-topicos .topico h4 { width:685px;  margin-bottom:5px; }

#principal #lista-topicos .topico h4 a { width:685px; font-size:16px; color:#333333; font-weight:normal; text-decoration:none; }

#principal #lista-topicos .topico h4 a:hover { color:#000; text-decoration:underline; }

#principal #lista-topicos .topico h4 a span { font-style:italic; color:#666; font-size:14px; text-decoration:none; }

#principal #lista-topicos .topico h5 { width:685px; }

#principal #lista-topicos .topico h5 a { width:685px; font-size:12px; color:#666; font-weight:normal; font-style:italic; text-decoration:none; }

#principal #lista-topicos .topico h5 a:hover { color:#555; text-decoration:underline; }

#principal #lista-topicos .topico .opcoes-topico { float:right; }

#principal #lista-topicos .topico dl { height:45px; float:left; text-align:center; margin-right:15px; border-left:1px dotted #C7C7C7; padding-left:13px; }

#principal #lista-topicos .topico dl:first-child { border:none; }

#principal #lista-topicos .topico dl dt { color:#3366CC; font-weight:bold; }

#principal #lista-topicos .topico dl dd { color:#666; }

/* PAGINAÇÃO | PADRÃO */

#paginacao { height:auto; overflow:hidden; margin:10px 0; padding-top:10px; border-top:1px solid #999; }

#paginacao a { margin-right:5px; }

#paginacao a.pag { width:30px; height:25px; display:block; padding-top:5px; background-color:#EBC715; border-radius:5px; float:left; text-align:center; font-size:16px; color:#fff; text-decoration:none; }
#paginacao a.page { width:30px; height:25px; display:block; padding-top:5px; background-color:#CFD3DC; border-radius:5px; float:left; text-align:center; font-size:16px; color:#fff; text-decoration:none; }

#paginacao a#primeiro, #paginacao a#ultimo { float:left; font-size:14px; color:#666666; text-decoration:none; margin-top:5px;}

#paginacao a#primeiro:hover, #paginacao a#ultimo:hover { text-decoration:underline; }

#paginacao span { width:30px; height:25px; display:block; margin-right:5px; padding-top:5px; border:1px solid #999; border-radius:5px; text-align:center; font-size:16px; color:#666; float:left; }


/* ENTRAR e CADASTRE-SE */

#login_e_cadastro .sessao + .sessao { height:auto; overflow:hidden; margin:30px 0; }

#login_e_cadastro .sessao + .sessao h3 { width:480px; float:left; font-size:24px; color:#4373BF; font-weight:normal; margin-bottom:3px; }

#login_e_cadastro .sessao + .sessao .col-esquerda { width:480px; height:auto; overflow:hidden; float:left; }

#login_e_cadastro .sessao + .sessao .col-esquerda h3 { color:#4373BF; }

#login_e_cadastro .sessao + .sessao .col-esquerda span { font-size:14px; color:#999999; font-style:italic; margin-bottom:15px; display:block; }

#login_e_cadastro .sessao + .sessao .col-esquerda table tr { height:40px; color:#333; font-size:14px; }

#login_e_cadastro .sessao + .sessao .col-esquerda table tr td { padding:5px 5px 5px 0; }

#login_e_cadastro .sessao + .sessao .col-esquerda table tr td:first-child { width:60px; }

#login_e_cadastro .sessao + .sessao .col-esquerda table tr + tr + tr td{ text-align:right; }

#login_e_cadastro .sessao + .sessao .col-esquerda input[type=text], #login_e_cadastro .sessao + .sessao .col-esquerda input[type=password] { width:315px; height:30px; padding-left:3px; border:2px solid #819FD3; }

#login_e_cadastro .sessao + .sessao .col-direita { width:460px; height:auto; overflow:hidden; float:left; padding-left:14px; border-left:1px dashed #E4E4E4; }

#login_e_cadastro .sessao + .sessao .col-direita h3 { color:#82B54A; }

#login_e_cadastro .sessao + .sessao .col-direita span { font-size:14px; color:#999999; font-style:italic; margin-bottom:15px; display:block; }

#login_e_cadastro .sessao + .sessao .col-direita table tr { color:#333; font-size:14px; }

#login_e_cadastro .sessao + .sessao .col-direita table tr td:first-child { width:120px; }

#login_e_cadastro .sessao + .sessao .col-direita table tr td { padding:5px 0; }

#login_e_cadastro .sessao + .sessao .col-direita table tr td span { margin:10px 0 2px 0; display:block; font-style:normal; font-size:12px; color:#333; }

#login_e_cadastro .sessao + .sessao .col-direita input[type=text], #login_e_cadastro .sessao + .sessao .col-direita input[type=password] { width:315px; height:30px; padding-left:3px; border:2px solid #819FD3; }

/* Página TÓPICO */

#topico h2 { margin-top:20px; font-size:24px; color:#000; font-weight:normal; }

#topico h3 { font-size:14px; color:#999; font-weight:normal; font-style:italic; }

#topico .postagem { height:auto; overflow:hidden; margin:10px 0 10px 0; padding-top:20px; border-top:1px dashed #ccc;  }

#topico .postagem .userpost { width:130px; height:auto; overflow:hidden; padding:15px; float:left; background-color:#6F93CE; }

#topico .sessao + .postagem { background-color:#F1F1F1; border-radius:10px; border:none; }

#topico .sessao + .postagem .userpost { background-color:#4373BF; }

#topico .postagem .userpost table { width:130px; font-size:12px; color:#fff; }

#topico .postagem .userpost table tr:first-child { font-size:14px; font-weight:bold; }

#topico .postagem .userpost table td { padding:2px 0; }

#topico .postagem .userpost img { outline:1px solid #fff; }

#topico .postagem .msgpost { width:770px; height:auto; overflow:hidden; float:left; padding:3px 15px 15px 15px; }

#topico .postagem .msgpost .datapost { font-size:14px; color:#666666; font-style:italic; border-bottom:1px solid #ccc; }


#topico .postagem .msgpost .msg { margin-top:10px; font-size:14px; color:#333; }

#topico .postagem .msgpost .msg p { margin-bottom:10px; }

#topico #responder { border-top:1px solid #999; padding:15px 15px; }

#topico #responder table { width:650px; margin:0 auto; }

#topico #responder table td { padding:2px 0; }

#topico #responder table textarea { width:750px; height:200px; padding:2px; }

/* Página CRIAR TÓPICO */

#criartopico h2 { margin-top:20px; font-size:24px; color:#000; font-weight:normal; }

#criartopico h3 { font-size:14px; color:#999; font-weight:normal; font-style:italic; }

#criartopico #criar { margin-top:20px; padding:15px; }

#criartopico #criar table td { padding:5px 0; }

#criartopico #criar table td:first-child { width:130px; }

#criartopico #criar table td input[type=text] { width:600px; height:30px; padding:3px; }

#criartopico #criar table td textarea { width:600px; height:200px; padding:3px; }

/* RODAPÉ */

#rodape { width:100%; height:50px; background-color:#51a8b1; margin-top:10px; }

#rodape #copyright { font-size:12px; color:#fff; float:right; font-style:italic; margin:8px 2px 0 0; }

#logo {
	background-image:url(../images/logo.png);	
}